<section class="welcome__container">
  <div class="welcome__title">
    <h1>
      Welcome to
      <div class="brand">myFightFlix</div>
    </h1>
  </div>
  <div class="btn-container">
    <button
      mat-raised-button
      (click)="openUserRegistrationDialog()"
      color="primary"
      aria-label="Sign up button"
    >
      Sign Up
    </button>
    <button
      mat-stroked-button
      (click)="openUserLoginDialog()"
      color="primary"
      aria-label="Login button"
    >
      Login
    </button>
  </div>
</section>
