<div class="movies__container">
  <mat-card *ngFor="let movie of movies" class="movie-card__container">
    <mat-card-header>
      <mat-card-title class="movie-card__title">{{
        movie.Title
      }}</mat-card-title>
      <mat-card-subtitle>Director: {{ movie.Director.Name }}</mat-card-subtitle>
    </mat-card-header>
    <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
    <mat-card-actions class="movie-card__actions-container">
      <button mat-button color="primary">Genre</button>
      <button mat-button color="primary">Director</button>
      <button mat-button color="primary">Synopsis</button>
      <mat-icon>star_border</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>
