<div class="movies__container">
  <mat-card *ngFor="let movie of movies" class="movie-card__container">
    <mat-card-header class="movie-card__header">
      <button mat-icon-button aria-label="Favorite button">
        <mat-icon color="warn">star</mat-icon>
      </button>
      <mat-card-title class="movie-card__title">{{
        movie.Title
      }}</mat-card-title>
      <mat-card-subtitle>Director: {{ movie.Director.Name }}</mat-card-subtitle>
    </mat-card-header>
    <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}" />
    <mat-card-actions class="movie-card__actions-container">
      <button mat-button color="accent">Genre</button>
      <button mat-button color="accent">Director</button>
      <button mat-button color="accent">Synopsis</button>
    </mat-card-actions>
  </mat-card>
</div>
