.login__header {
  margin-bottom: 16px;
}
.login__spinner {
  margin: 0 auto;
  margin-bottom: 16px;
}
.login-form__container {
  display: flex;
  flex-direction: column;
}

// Tablet
@media all and (min-width: 768px) {
  .login__card {
    width: 400px;
  }
}
