.navbar__brand {
  font-style: italic;
  cursor: pointer;
}

.navbar__row {
  margin: 0 auto;
  max-width: 1350px;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.navbar-icons__container {
  display: flex;
  align-items: center;
}

.sub-navbar__row {
  width: 100%;
  display: flex;
  justify-content: center;

  button {
    width: 75px;
    margin: 0 16px;
  }
}
