<mat-toolbar color="primary" class="navbar" role="heading">
  <mat-toolbar-row class="navbar__row">
    <span class="navbar__brand">myFightFlix</span>
    <mat-slide-toggle
      [formControl]="toggleTheme"
      aria-label="toggles theme between dark and light"
    >
      <mat-icon aria-label="toggle theme sun and moon icon"
        >brightness_medium</mat-icon
      >
    </mat-slide-toggle>
  </mat-toolbar-row>
</mat-toolbar>
<!-- Only appears after successful login (i.e. authenticated user) -->
<div *ngIf="isAuth()">
  <mat-toolbar class="sub-navbar" role="heading">
    <mat-toolbar-row class="sub-navbar__row">
      <button mat-raised-button color="primary" (click)="openProfile()">
        Profile
      </button>
      <button mat-raised-button color="accent" (click)="onLogout()">
        Logout
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
