.navbar {
  margin-bottom: 24px;
}

.navbar__row {
  display: flex;
  justify-content: space-between;
  padding: 0 32px;
}

// Tablet
@media all and (min-width: 768px) {
  .navbar__row {
    padding: 0 40px;
  }
}

// Desktop
@media all and (min-width: 1440px) {
  .navbar__row {
    padding: 0 165px;
  }
}
