@import "~@angular/material/theming";
@include mat-core();

$light-theme-primary: mat-palette($mat-red, 900);
$light-theme-accent: mat-palette($mat-red, 500);
$light-theme-warn: mat-palette($mat-amber);

$light-theme: mat-light-theme(
  $light-theme-primary,
  $light-theme-accent,
  $light-theme-warn
);

.light-theme {
  @include angular-material-theme($light-theme);
}

$dark-theme-primary: mat-palette($mat-red, 900);
$dark-theme-accent: mat-palette($mat-red, 500);
$dark-theme-warn: mat-palette($mat-amber);

$dark-theme: mat-dark-theme(
  $dark-theme-primary,
  $dark-theme-accent,
  $dark-theme-warn
);

.dark-theme {
  @include angular-material-theme($dark-theme);
}
